:sass
  $numDocs: #{data.agendas.map(&:last).reduce(:+).count}
  $distLevels: 10
  @for $doc from 0 to $numDocs
    .doc-\#{$doc}-selected
      @for $level from 0 to $distLevels
        .doc.dist-\#{$doc}-\#{$level}
          color: rgb(255-$level/$distLevels*255, 0, 0)
        a.dist-\#{$doc}-\#{$level}
          background-color: rgb(255-$level/$distLevels*255, 0, 0)

%header
  %h1 Wahlprogramm-Matrix
  %p.manual
    Wähle Paragraphen per Mausklick aus und andere thematisch ähnliche Paragraphen werden farblich hervorgehoben.
  %p.description
    Dies ist ein Experiment von Martin Honermeyer, Yannic Schencking und Daniel Kirsch für Code for Münster.

- dist = data.distances.inject({}) { |h, (i,j,s)| h.update [i,j] => (s*10).floor, [j,i] => (s*10).floor }
- all_docs = data.agendas.map(&:last).reduce(:+)

#container
  #spd-minimap.minimap
    - data.agendas.SPD.each do |p|
      - score_classes = all_docs.map { |doc| (d = dist[[p.id.to_i, doc.id.to_i]]) && "dist-#{doc.id}-#{d}" }.compact
      %a{href: "#doc-#{p.id}", style: "height: #{100.0*p.text.length/data.agendas.SPD.map(&:text).map(&:length).reduce(:+)}%", class: ["dist-#{p.id}-0"] + score_classes}
  #spd.sub-container
    %h2 SPD
    - data.agendas.SPD.each do |p|
      - score_classes = all_docs.map { |doc| (d = dist[[p.id.to_i, doc.id.to_i]]) && "dist-#{doc.id}-#{d}" }.compact
      .doc{id: "doc-#{p.id}", class: ["dist-#{p.id}-0"] + score_classes, data: {click: "doc-#{p.id}-selected"}}
        %h3= p.title
        = GitHub::Markdown.render p.text
  #cdu-minimap.minimap
    - data.agendas.CDU.each do |p|
      - score_classes = all_docs.map { |doc| (d = dist[[p.id.to_i, doc.id.to_i]]) && "dist-#{doc.id}-#{d}" }.compact
      %a{href: "#doc-#{p.id}", style: "height: #{100.0*p.text.length/data.agendas.SPD.map(&:text).map(&:length).reduce(:+)}%", class: ["dist-#{p.id}-0"] + score_classes}
  #cdu.sub-container
    %h2 CDU
    - data.agendas.CDU.each do |p|
      - score_classes = all_docs.map { |doc| (d = dist[[p.id.to_i, doc.id.to_i]]) && "dist-#{doc.id}-#{d}" }.compact
      .doc{id: "doc-#{p.id}", class: ["dist-#{p.id}-0"] + score_classes, data: {click: "doc-#{p.id}-selected"}}
        %h3= p.title
        = GitHub::Markdown.render p.text
  #gruene-minimap.minimap
    - data.agendas.Gruene.each do |p|
      - score_classes = all_docs.map { |doc| (d = dist[[p.id.to_i, doc.id.to_i]]) && "dist-#{doc.id}-#{d}" }.compact
      %a{href: "#doc-#{p.id}", style: "height: #{100.0*p.text.length/data.agendas.SPD.map(&:text).map(&:length).reduce(:+)}%", class: ["dist-#{p.id}-0"] + score_classes}
  #gruene.sub-container
    %h2 Grüne
    - data.agendas.Gruene.each do |p|
      - score_classes = all_docs.map { |doc| (d = dist[[p.id.to_i, doc.id.to_i]]) && "dist-#{doc.id}-#{d}" }.compact
      .doc{id: "doc-#{p.id}", class: ["dist-#{p.id}-0"] + score_classes, data: {click: "doc-#{p.id}-selected"}}
        %h3= p.title
        = GitHub::Markdown.render p.text
