- numbers = %w[zero one two three four five six seven]
- dist = data.distances
- estimator = Quantile::Estimator.new
- dist.each { |_,v| v.each { |_,v| estimator.observe(v) } }
- agendas = data.documents
- all_docs = agendas.map(&:last).reduce(:+)
- min = estimator.query(0.95)
- max = estimator.query(1)
- outlier = estimator.query(0.4)
- # map the interval [min, max] to clamped [1, 0] interval and then quantize to ten distance levels
- quantize = lambda { |d| ([[(max-d)/(max-min), 0].max, 1].min*10).round }
- is_outlier = lambda { |doc| (data.distances[doc.id][:avg] || 1) < outlier }
- # closest = { "d1p0": ["d1p2", "d2p34", ...] }
- closest = data.closest
- score_classes_fn = lambda { |p| all_docs.map { |doc| [doc, dist[p.id][doc.id]] }.select { |(doc, d)| d.is_a?(Numeric) && d > min }.map { |(doc, d)| [doc, quantize[d]] }.map { |(doc, d)| "dist-#{doc.id.gsub('.','')}-#{d}" } }
- sass_doc_list = all_docs.map(&:id).map { |id| id.gsub('.','') }.map(&:inspect).join(', ')

:sass
  $docs: #{sass_doc_list}
  $distLevels: 10
  @each $doc in $docs
    .doc-\#{$doc}-selected
      @for $level from 0 to $distLevels
        .doc.dist-\#{$doc}-\#{$level}
          background-color: rgba(255, 0, 0, (1-$level/$distLevels)/2)
        a.dist-\#{$doc}-\#{$level}
          background-color: rgba(255, 0, 0, 1-$level/$distLevels)

%header#help.expanded
  #close ✗
  #questionmark ?
  #help-content
    %h1
      %a{href:'http://codeformuenster.org'}
        %img{src:'http://codeformuenster.org/img/cfm_logo.png', alt:'Code for Münster'}
      Wahlprogramm-Matrix
    %p#description
      Mit dieser App kannst du die
      %em Wahlprogramme der Kommunalwahl 2014 in Münster
      mit etwas technischer Unterstützung lesen.
    %h2 Wie benutze ich die App?
    %ul#manual-text
      %li
        Klicke auf einen Paragraphen um ihn auszuwählen. Der ausgewählte Paragraph und weitere thematisch ähnliche werden
        %span.highlight-similar farblich
        hervorgehoben.
      %li
        Die Scroll-Leisten zeigen durch
        %span.highlight-similar farbliche
        Hinterlegung an, wo im zugehörigen Wahlprogramm die thematisch ähnlichen Paragraphen zu finden sind. Klicke auf die Leiste um zum Paragraphen zu springen.
      %li Führe die Maus über die Scroll-Leiste um für die Paragraphen relevante Begriffe zu sehen.
      %li
        Außenseiter sind
        %span.highlight-outlier blau
        hervorhehoben. Diese Paragraphen haben zu allen anderen Paragraphen einen hohen semantischen Abstand.

    %p#manual-movie
      = image_tag 'manual.gif'
    %h2 Wie funktioniert das?
    %p#tech
      Die Ähnlichkeit wird rein maschinell ermittelt. Dazu werden die Wörter in den einzelnen Paragraphen miteinander verglichen und so ein semantischer Abstand errechnet. Welche Wörter der Algorithmus dabei als besonders relevant empfindet, kann man sehen, wenn man mit dem Mauszeiger über die Scroll-Leisten schwebt. Dabei kommen oft sinnvolle aber manchmal auch nicht so sinnvolle Ergebnisse heraus. (Für technisch versierte Anwender: Wir verwenden <a href="http://de.wikipedia.org/wiki/Tf-idf-Ma%C3%9F">tf-idf</a>.)
    %h2 Warum tut ihr sowas?
    %p#rationale
      Dies ist als Experiment zu verstehen. Wir wollen herausfinden, wie sich Algorithmen nutzen lassen, um Menschen dabei zu unterstützen politische Prozesse zu verstehen oder allgemeiner, wie sich Daten und Allgorithmen für eine bessere Gesellschaft einsetzen lassen. Neugierig? Schau doch mal im <a href="http://codefor.de/oklabs/">Open Knowledge Lab</a> in deiner Stadt vorbei!
    #attribution
      %p Ein Experiment von <a href="http://kirelabs.org">Daniel Kirsch</a>, <a href="https://github.com/djmaze">Martin Honermeyer</a>, <a href="https://github.com/webwurst">Tobias Bradtke</a> und <a href="https://github.com/jahnique">Yannic Schencking</a> für
      %a{href:'http://codeformuenster.org'}
        %img{src:'http://codeformuenster.org/img/cfm_logo.png', alt:'Code for Münster'}

#shade

#wrapper
  #container{class: numbers[agendas.keys.size]}
    - agendas.each_with_index do |(title, paragraphs), i|
      .sub-container{class: title.downcase}
        .minimap{class: numbers[i+1]}
          .scroll-indicator
          - paragraphs.each do |p|
            - classes = score_classes_fn[p]
            - classes << 'outlier' if is_outlier[p]
            - classes << 'jump-to-paragraph'
            %a{href: "##{p.id.gsub('.','')}", "data-target" => "##{p.id.gsub('.','')}", style: "height: #{100.0*p.text.length/paragraphs.map(&:text).map(&:length).reduce(:+)}%", class: classes, :"data-important" => data.important[p.id].keys.join(', ')}
        .sub-container-title-bar.party-name
          %h1= title
        .scroll-container
          .wrapper
            %h1.party-name= title
            - paragraphs.each do |p|
              - classes = score_classes_fn[p]
              - classes << 'outlier' if is_outlier[p]
              - closest_to_paragraph = closest[p.id].select {|h| h.dist > min }.map {|h| "##{h.doc }" } - ["##{p.id}"]
              .doc{id: "#{p.id.gsub('.','')}", class: classes, data: {click: "doc-#{p.id.gsub('.','')}-selected", closest: closest_to_paragraph}}
                = GitHub::Markdown.render p.text
